html {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
